## Operators
Operators are symbols that indicate how two operands should be manipulated. Operators and operants together form an expresion. Operators will always return a value

### Arithmetic Operators
- `+` add two operands
- `-` substract two operands
- `*` multiply two operands
- `/` divide two operands
- `%` modulus, return the remainder when the first number is divided from the second number.
- `//` return integer division
- `**` Exponentiation

In [1]:
x = 7
y = 2
x + y

9

In [2]:
x - y

5

In [3]:
x * y

14

In [4]:
x / y

3.5

In [5]:
x % y

1

In [6]:
x // y

3

In [7]:
x ** y

49

### Comparison Operators

- `==`	Equal	x == y	
- `!=`	Not equal	x != y	
-  `>`	Greater than	x > y	
- `<`	Less than	x < y	
- `>=`	Greater than or equal to	x >= y	
- `<=`	Less than or equal to	x <= y

In [1]:
x = 9
y = 1
x < y

False

In [2]:
x > y

True

In [4]:
x == y

False

In [5]:
# Comparisson operators can be concatenated
x = 9
1 < x and x < 20

True

### Logical operators
- `and` 	Returns True if both statements are true	x < 5 and  x < 10	
- `or`	Returns True if one of the statements is true	x < 5 or x < 4	
- `not`	Reverse the result, returns False if the result is true

In [6]:
x = True
y = False
x or y

True

In [9]:
x and y

False

In [12]:
not x

False

In [15]:
not y

True

### Membership Operators
- `in` 	Returns True if a sequence with the specified value is present in the object
- `not in`	Returns True if a sequence with the specified value is not present in the object

In [18]:
a = [1, 2, 3, 4, 5]
b = 4

b in a

True

In [19]:
c = [2, 3, 4]

c not in a

True

In [20]:
a.append([2, 3, 4])
a

[1, 2, 3, 4, 5, [2, 3, 4]]

In [21]:
c in a

True

## Conditional statements
Frequently, a program needs to skip over some statements, execute a series of statements repetitively, or choose between alternate sets of statements to execute.

That is where control structures come in. A control structure directs the order of execution of the statements in a program

### For Loops
Will iterate over a list of values, executing an action until all elements are looped over

In [23]:
# Iterate over names in a list
names = ['Mary', 'Joseph', 'Gerard', 'Tom']

for name in names:
    print(name)

Mary
Joseph
Gerard
Tom

In the previous code, we use `name` as a variable to loop over the name list, we then print the name. Notice the `:` after the for statement, this is part of the `for` syntax. Also notice the indentation (white space) after the semicolon, Python uses whitespace to denote blocks, in other languages `{}` are used.

In [27]:
# You can also loop over strings and other collections
for letter in 'Jon Doe':
    print(letter)

J
o
n

D
o
e

In [31]:
for N in [2, 4, 6, 8, 10]:
    print(N, end='-')

2-4-6-8-10-

Notice the previous block used a sequence, in this case a list we looped over. We use the `in` operator to link them together. More precisely, the list in this case is an *iterator*, a generalized sequence we can loop over.

One of the most common used *iterators* is the `range` object, which generates a sequence of numbers

In [33]:
for i in range(3):
    print(i, end=' ')

0 1 2

Range starts at zero by default, and the end of the range is not included. Range can also have other values

In [34]:
# range from 5 to 10, non inclusive
list(range(5, 10))

[5, 6, 7, 8, 9]

In [38]:
# range from 0 to 10 by 2
list(range(0, 21, 5))

[0, 5, 10, 15, 20]

### A quick review of iterators
Many times we need to repeate a similar calculation, in an automated fashion. One of Python answers to this is using the `iterator` object. This object contains a sequence, that will output the next value as long as it is valid. This is generally easily understandable with a list.

In [39]:
for value in [1, 3, 5, 7]:
    print(value + 1, end=' ')

2 4 6 8

We can create an `iterator` object from this previous list, and will output the next value with the built in function `next`

In [40]:
# Iterator object
iter([1, 3, 5, 7])

In [41]:
I = iter([1, 3, 5, 7])

In [42]:
print(next(I))

1

In [43]:
print(next(I))

3

In [44]:
print(next(I))

5

In [45]:
print(next(I))

7

In [46]:
print(next(I))

StopIteration:

With this in mind we can see a indirect relationship with the `list` object and the iterator `object`. Lets see and example with the `range` object again. `range` like a list exposes an iterator, and Python knows to treat it *as if it's a list*.

In [47]:
range(0, 10)

range(0, 10)

In [48]:
iter(range(10))

In [49]:
for i in range(10):
    print(i, end='*')

0*1*2*3*4*5*6*7*8*9*

The benefit of having an iterator is the list if never explicitely created. We can see this by doing a range calculation that would otherwise result in an error.

If the following code would actually create a list of a trillion values it will use too much memory and our program would crash.

In [50]:
n = 10 ** 12
for i in range(n):
    if i >= 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

We also have the `count` object, which acts as a infinite range iterator.

If this iterator is not stopped it will continue counting up to infinity. That's why we add the `break` statement here.

In [51]:
# import itertools functionality
from itertools import count

for i in count():
    if i >= 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

### The if statement
`if <expr>:
    <statement>`
    
- <expr> is evaluated in a Boolean context
- <statement> is a valid Python statement and must be indented
- Notice the `:`, this is required

In [52]:
x = 3
y = 10

In [53]:
if x < y:
    print('x is less than y')

x is less than y

In [54]:
x > y

False

In [26]:
if x > y:
    print('x is bigger than y')

In [55]:
if 'ello' in 'hello':
    print('Its there')

Its there

In [56]:
# We can also nest if statements, remember indentations
if 'lo' in 'hello':
    print('lo is in hello')
    
    if x < y:
        print('x is less than y')
    print('Statement outside of the second condition')

lo is in hello
x is less than y
Statement outside of the second condition

In [57]:
# What if x is not less than y?
x = 100
if 'lo' in 'hello': # this is true
    print('lo is in hello') 
    
    if x < y: # this is false
        print('x is less than y') 
    print('Statement outside of the second condition') # this will still run, as it is outside the if statement

lo is in hello
Statement outside of the second condition

Nested for loops are also possible

In [39]:
list1 = ["a", "b", "c"]
list2 = ["1", "2", "3"]

for x in list1:
    print(x)
    for y in list2:
        print(y)

a
1
2
3
b
1
2
3
c
1
2
3

Range function:
Returns a sequence of numbers in the form `range(start, stop, step)` it can be used in combination with for loops

In [63]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [64]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

### Optional Exercises

1. Create a for loop that prints numbers from 1 to 20 in increments of 2 e.g. 2, 4, 6, 8, ...

2. Create a for loop that prints from a list of words in a list. Create a second nested for loop that prints another word from a second list. Every word should from the first list shall be printed with every other word from the second list.

`list_a = ["chicken", "veggie", "meat", "ham", "cheese", "beef", "chocolate"]`

`list_b = ["sandwich", "waffles", "pizza", "burrito", "soup", "salad", "smoothie"]`

Tip: You may want to use `range(len(list_a))` to iterate over the length of the list.

Example output for exercise 2:

`chicken sandwich
chicken waffles 
chicken pizza 
chicken burrito...`

`veggie sandwich 
veggie waffles 
veggie pizza 
veggie burrito...`

### Combining for and if statments
- We can combine for loops and if statements to do different things when conditions are met.
- In a for loop the `break` statement will stop the loop
- In a for loop the `continue` statement will skip the element

In [65]:
transport = ['car', 'bike', 'truck', 'plane', 'boat']

for element in transport:
    print(element)

car
bike
truck
plane
boat

In [66]:
for element in transport:
    print(element)
    if element == 'plane':
        print('You can fly')

car
bike
truck
plane
You can fly
boat

In [36]:
# Break the loop if condition is met
for element in transport:
    print(element)
    if element == 'plane':
        print('You can fly')
        break

car
bike
truck
plane
You can fly

In [38]:
# Skip if condition is met
for element in transport:
    if element == 'bike':
        continue
    print(element)

car
truck
plane
boat

Else and elif clauses
Sometimes you want to take a different path or do something different if other conditions are met. This is accomplished with an `else` clause.

Branching executions can be accomplished by `elif` short for else if, will evaluate an expression and execute if True.

In [43]:
for element in transport:
    print(element)
    if element == 'plane':
        print('You can fly')
    elif element == 'boat':
        print('You can float')
    else:
        print('You can drive')

car
You can drive
bike
You can drive
truck
You can drive
plane
You can fly
boat
You can float

## Optional exercise
Write a program that takes two integer numbers and determines if the numbers are odd or even. Remember the `input()` and `%` function and operator.

Additional exercise: do the same computation as above, but for a list of numbers using a `for` loop and `if` statements.

### Conditional expressions (ternary operator)
This is different from the if statement forms listed above because it is not a control structure that directs the flow of program execution. It acts more like an operator that defines an expression. In the above example, <conditional_expr> is evaluated first. If it is true, the expression evaluates to <expr1>. If it is false, the expression evaluates to <expr2>.
    
- \<conditional_expr> ? \<expr1> : \<expr2>

In [67]:
rain = True
print('Lets ', 'go outside' if not rain else 'stay')

Lets  stay

In [69]:
name = 'Bob'
who = 'Bob' if name == 'Bob' else 'Not Bob'
who

'Bob'

In [70]:
name = 'Jane'
who = 'Bob' if name == 'Bob' else 'Not Bob'
who

'Not Bob'

## While loops
while \<expr>:

    <statement(s)>
        
<statement(s)> represents the block to be repeatedly executed, often referred to as the body of the loop. This is denoted with indentation, just as in an if statement.

The controlling expression, <expr>, typically involves one or more variables that are initialized prior to starting the loop and then modified somewhere in the loop body.
    
While loops can also use `break` and `continue` statements. You can also use `else` statements once the condition is no longer true

In [72]:
n = 5
while n > 0:
    n = n - 1
    print(n)

4
3
2
1
0

In [53]:
names = ['Bob', 'Derek', 'Diana', 'Bruce']
while names:
    print(names.pop())
else:
    print('no more names')

Bruce
Diana
Derek
Bob
no more names

## Exercises for participation credit
Please complete the following exercises and upload your completed notebook to your Github repository for participation credit.

1. Write a for loop that adds all numbers from 1 to 100
2. Using the list `lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]` create a second list called `lst2`, iterate through the list and add the names to `lst2` only if the element is different to an empty string.
3. Take 3 numbers from the user using `input()` save the numbers to a list. Take 3 more numbers from the user and save it to a second list. Iterate over both lists and multiply every number on the first list over every other number on the second list. Print the multiplication result only if the result is an even number, else print the words `The result is odd`.